<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="icon" href="../../favicon.ico">

  <title>Theme Template for Bootstrap</title>

  <!-- Bootstrap core CSS -->
  <link href="../static/css/bootstrap.min.css" rel="stylesheet">
  <!-- Bootstrap theme -->
  <link href="../static/bootstrap-theme.min.css" rel="stylesheet">

  <!-- Custom styles for this template -->
  <link href="../static/css/theme.css" rel="stylesheet">

  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->
</head>

<body role="document">

<!-- Fixed navbar -->
<nav class="navbar navbar-inverse navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">Expedia</a>
    </div>
    <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Home</a></li>
        <li><a href="#about">About</a></li>
        <li><a href="#contact">Contact</a></li>
        <li><a href="#contact">{{ name }}</a></li>
      </ul>
    </div><!--/.nav-collapse -->
  </div>
</nav>

<div class="container theme-showcase" role="main">
  <div class="col-sm-6">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h3 class="panel-title">Enter the details of your vacation</h3>
      </div>
      <div class="panel-body">
        <form role='form' method='post'>
          {{ vacationplannerform.hidden_tag() }}
          <table class='table'>
            <thead>
            <tr>
              <th><label for='source'>Source</label></th>
              <th>{{ vacationplannerform.source(class_='form-control') }}</th>
            </tr>
            <tr>
              <th><label for='destination'>Destination</label></th>
              <th>{{ vacationplannerform.destination(class_='form-control') }}</th>
            </tr>
            <tr>
              <th><label for='days'>How many days would you like to go on vacation for ? </label></th>
              <th>{{ vacationplannerform.days(class_='form-control') }}</th>
            </tr>
            <tr>
              <th><label for='weekends'>Include Weekends</label></th>
              <th>{{ vacationplannerform.weekends(class_='form-control') }}</th>
            </tr>
            <tr>
              <th><label for="cost">How important is cost for you ?</label></th>
              <td><p>
                {{ vacationplannerform.costslider(min=0, max=1, oninput="outputUpdateCostSlider(value)") }}
              </p></td>
            </tr>

            <tr>
              <th><label for="duration">How important is duration for you ?</label></th>
              <td><p>
                {{ vacationplannerform.durationslider(min=0, max=1, oninput="outputUpdateDurationSlider(value)") }}
              </p></td>
            </tr>
            <tr>
              <th><label for="favoriteairline">How Important is it for you to travel via your favorite airline <i>{{ favoriteAirline }}</i> ?</label></th>
              <td><p>
                {{ vacationplannerform.favoriteairlineslider(min=0, max=1, oninput="outputUpdateFavoriteAirlineSlider(value)") }}
              </p></td>
            </tr>
            <tr><th><button type="submit" class="btn btn-primary btn-lg">Plan my vacation</button></th></tr>
            </thead>
          </table>
        </form>
      </div>
    </div>
  </div><!-- /.col-sm-6 -->
  <div class="col-sm-6">
    {% for offer in offers %}
    <div class="panel panel-default">
      <div class="panel-heading">
        Fly From <h4 class="panel-title">{{ offer.legs[0].segments[0].departureAirportLocation }}</h4>
        <h4><a style="float:right; padding-left:10px;"> <t/> on {{ offer.legs[0].segments[0].departureTimeFormatted }} </a></h4>
        <h4> <a style="float:right"> For {{ offer.totalFare }}$ </a></h4>
        To <h4 class="panel-title">{{ offer.legs[0].segments[-1].arrivalAirportLocation }} </h4>
      </div>
      <div class="panel-body">
        <div class="list-group">
          <a href="#" class="list-group-item">
            <h5 class="list-group-item-heading">
              Duration : {% if offer.legs[0].travelDurationHours %}
              {{ offer.legs[0].travelDurationHours }} hours
              {% endif %}
              {% if offer.legs[0].travelDurationMinutes %}
              and {{ offer.legs[0].travelDurationMinutes}} minutes</h5>
            {% endif %}
          </a>
          {% for segment in offer.legs[0].segments %}
          <a href="#" class="list-group-item">
            <h5 class="list-group-item-heading">{{ segment.airlineName }} | {{ segment.airlineCode }} {{ segment.flightNumber }} | {{ segment.departureAirportLocation }} - {{ segment.arrivalAirportLocation}}</h5>
            <h6><i>{{ segment.arrivalTime }} - {{ segment.departureTime }}</i></h6>
          </a>
          {% endfor %}
        </div>
        <div class="list-group">
          {% if offer.legs[1].travelDurationHours or offer.legs[1].travelDurationMinutes %}
          <a href="#" class="list-group-item">
            <h5 class="list-group-item-heading">
              {% if offer.legs[1].travelDurationHours %}
              Duration : {{ offer.legs[1].travelDurationHours }} hours
              {% endif %}
              {% if offer.legs[1].travelDurationMinutes %}
              and {{ offer.legs[1].travelDurationMinutes}} minutes</h5>
            {% endif %}
          </a>
          {% endif %}
          {% for segment in offer.legs[1].segments %}
          <a href="#" class="list-group-item">
            <h5 class="list-group-item-heading">{{ segment.airlineName }} | {{ segment.airlineCode }} {{ segment.flightNumber }} | {{ segment.departureAirportLocation }} - {{ segment.arrivalAirportLocation}}</h5>
            <h6><i>{{ segment.arrivalTime }} - {{ segment.departureTime }}</i></h6>
          </a>
          {% endfor %}
        </div>
        <div class="list-group">
        </div>
      </div>
      {% endfor %}
    </div>
  </div> <!-- /container -->
</div>
</body>
</html>
